<!DOCTYPE html>
<html lang="en">

<head style="box-sizing: border-box;">
    <meta charset="UTF-8" style="box-sizing: border-box;">
    <title style="box-sizing: border-box;">Codigo de recuperacion</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" style="box-sizing: border-box;">
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
        style="box-sizing: border-box;">
</head>

<body class="container"
    style="height: 100%;background: -webkit-linear-gradient(rgba(212, 17, 81, 0.7), rgba(17, 68, 142, 0.7));box-sizing: border-box;margin: 0;font-size: 1rem;font-weight: 400;line-height: 1.5;text-align: left;background-color: #fff;width: 100%;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;min-width: 992px!important;">
    <div class="row d-flex justify-content-between" style="flex: 1;justify-content: space-between;box-sizing: border-box;">
        <div class="column col-md-2" style="box-sizing: border-box;"><img
                src="https://storage.googleapis.com/comprartir-prod/public/logo-comprartir_nvu3r1.png"
                alt="logo-comprartir.png" width="289" height="208"
                style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;">
        </div>
        <div class="column col-md-8"></div> 
        <div class="column col-md-2" style="box-sizing: border-box;"><img class="llave"
                src="https://storage.googleapis.com/comprartir-prod/public/llave_qxboaw.png" alt="llave/img"
                width="241.8" height="324"
                style="box-sizing: border-box;vertical-align: middle;border-style: none;page-break-inside: avoid;">
        </div>
    </div>

    <div style="box-sizing: border-box; color: white; font-family: Lato;">
        <h1
            style="font-weight: bold;box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;line-height: 1.2;font-size: 2.5rem;">
            TU CÓDIGO DE RECUPERACIÓN</h1>
        <h1
            style="font-weight: bold;box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;line-height: 1.2;font-size: 2.5rem;">
            DE CONTRASEÑA ES</h1>

    </div>
    <div class="col-sm-4"
        style="margin: 50;background-color: white;box-sizing: border-box;position: relative;width: 100%;padding-right: 15px;padding-left: 15px;-ms-flex: 0 0 16.666667%;flex: 0 0 16.666667%;max-width: 16.666667%;">
        <h1
            style="color: black;box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 2.5rem;">
            {{ code }}</h1>
    </div>
    <div style="box-sizing: border-box;color: white; font-family: Lato;">
        <h5
            style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1.25rem;">
            Código válido por 30 minutos
        </h5>
    </div>
    <div style="margin-top: 100px;box-sizing: border-box;color: white; font-family: Lato;">
        <h6
            style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1rem;">
            Recordá que este dato es exclusivo para que puedas ingresar a tu cuenta,
        </h6>
        <h6
            style="box-sizing: border-box;margin-top: 0;margin-bottom: .5rem;font-weight: 500;line-height: 1.2;font-size: 1rem;">
            nadie de Comprartir te lo va a pedir en ninguna instancia
        </h6>
    </div>
</body>

</html>